<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Phoenicians</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h1>Phoenicians</h1>

<img src="assets/images/phoeniciahistory.jpg" alt="phoenicia_history">

<h6>The Phoenicians were an enigmatic people, who left little in the way of written records. 
  Much of what we know of them from ancient times was recorded by Greek and Roman historians who mentioned their seamanship and shrewd business dealings.
  Napoleon III put modern historians in touch with the Phoenicians. While subduing a revolt in Syria, he called upon the French scholar, 
  Ernest Renan, to lead an expedition to the area, much as Napoleon the Great had done some fifty years earlier when he brought a group of scholars to Egypt during his campaign.
  Because of Renan's interest in Semitic languages, he was particularly keen on investigating the site of Byblos.  In addition to 
  being a major Phoenician port, the name held linguistic implications. “Byblos” the Greek word for papyrus, leads to “biblion” or book, 
  while lead to “bible”.  Renan was pursuing an Old Testament reference, “Gebel”, which was the Semitic name for Byblos. The trail 
  ultimately lead to nothing for Renan's linguistic research, but during the investigation he found several granite slabs covered with 
  Egyptian hieroglyphs, and a bas-relief, which he believed to be the goddess Hathor. The relief was, in fact, Baalat-Global the Phoenician 
  earth-mother goddess.  This find was the beginning of the rediscovery of ancient Phoenicia.
  <br><br>
  Later, excavations that are more extensive produced a series of semi-intact royal tombs that yielded a glimpse of Phoenician treasure, 
  including vessels of gold, silver, and obsidian, sandals and breastplates of gold, and an array of royal paraphernalia. The most
   important find, however, was an inscription in the Phoenician alphabet on an elaborate sarcophagus: “This coffin was made by Ithobaal,
    the son of Ahiram, King of Byblos, as the eternal resting place for his father.  If any ruler or governor or general attacks Byblos and 
    touches this coffin, his scepter will be broken…”
  This discovery in 1922 touched off a wave of excavation in Byblos and a renewed interest in the origin of the Phoenicians. Since ancient
   times, there has been speculation as to the origin of the Phoenicians. The Greeks were particularly puzzled by the Phoenicians who
    suddenly appeared and built an empire in their midst.
    <br><br>
  They, in fact, gave them the name, “phoinikes” loosely translated as “red people” from the color of their land. The Phoenicians called
   themselves Canaanites, and modern researchers tell us they were the descendents of two groups, the early Canaanites who inhabited the 
   coast of Lebanon, and the Sea People who invaded Lebanon about 1200 BC.
  The early Canaanites had a limited ship building technology, sailing only flat-bottomed barges that hugged the shore. The invading Sea 
  People, some of whom stayed on, introduced among other things, a much more sophisticated maritime technology. Thus their descendents,
   the Phoenicians, appeared on the scene with an established maritime tradition, and the technology to build ships with a keeled hull. 
    This allowed them to sail the open seas, and as a result, the Phoenicians developed a flourishing sea trade.
  They settled along the coast of Lebanon, in a loose federation of city-states that were built on islands of rocky promontories, which
   provided natural harbors for shipbuilding and trade. The cities, Byblos, Tyre, Sidon, Arwad, studded the seacoast like jewels, and 
   their wealth became legendary. At the height of their trading empire, they imported copper from Cyprus; linen from Egypt; ivory
    from India; tin from Spain; horses from Anatolia; and peacocks from Africa. They became famous for their highly prized purple
     dye extracted from the murex snail, and for the fine timber cut from their forests.
     <br><br>
  Their major cultural contribution was their alphabet. It consisted of 22 consonants, and was the foundation of our English alphabet,
   and it was the core for Hebrew, Arabic, and Syriac script.
  The Phoenicians were skilled artisans noted for their fine crafts, often “borrowing” a basic idea or technology and improving on it.
   The craft of glass making was raised to a fine art by Phoenician artisans, and they may have been the first to develop blown glass. 
   Their terracotta vessels and pots often show a thoughtful refinement of shape, as do their votive statues.
  The Phoenicians worshipped a triad of deities, each having different names and attributes depending upon the city in which they were
   worshipped, although their basic nature remained the same. The primary god was El, protector of the universe, but often called Baal. 
   The son, Baal or Melqart, symbolized the annual cycle of vegetation and was associated with the female deity Astarte in her role as the maternal goddess.
    She was called Asherar-yam, Our Lady of the Sea, and in Byblos, she was Baalat, our dear lady.  Astarte was linked with mother goddesses of
     neighboring cultures, in her role as combined heavenly mother and each mother.  Cult statues of Astarte in many different forms were left as
      votive offerings in shrines and sanctuaries as prayers for good harvest, for children, and for protection and tranquility in the home.
      <br><br>
       The Phoenician triad was incorporated in varying degrees by their neighbors and Baal and Astarte eventually took on the look of Greek deities.
  The Phoenicians reached the peak of their culture around 1,000 BC, when they had established trading colonies in Cyprus, Sicily, Sardinia, Africa and Spain.
   Their North African city of Cartage was founded about 800 BC and remained strong until the sack of the Romans in 146 BC.
    The great city-states of Phoenicia ended with the fall of Tyre to the Babylonian king Nebuchadnezzar in 573 BC.
     The glory of the Phoenicians was in decline, when in 332 BC Alexander the Great conquered Tyre and the remnants of the 
     Phoenician culture were swept into the Hellenistic Empire.
<br><br></h6>
</ion-content>
