<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Greeks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Greeks</h1>

<img src="assets/images/greecehistory.jpg" alt="greece_history">

<h6>From about 7,000 BC stone age farmers lived in Greece. Then about 3,000 BC bronze was introduced. 
  About 2,500 BC a sophisticated society grew up on the island of Crete. It is known as the Minoan civilization. 
  By about 1,950 BC the inhabitants had invented a form of writing using hieroglyphs. This writing is called linear A.
   The Minoans were a bronze age civilization. (They made tools and weapons from bronze). Their civilization was at its
    height from about 1700 BC to 1500 BC. However Minoan culture declined after 1450 BC. We are not sure why but they may 
    have been conquered by Mycenaeans from mainland Greece.
    <br><br>
  Most of the Minoans lived in small villages and made their living from farming. They grew wheat, barley, grapes, and olives. 
  They raised goats, cattle, sheep, and pigs. Minoan farmers had to give part of their crops to the ruler as a tax. The
   Minoans were also trading people. They traded with Sicily, Cyprus, Egypt, and other parts of the Middle East. The Minoans
    exported wine, olive oil, timber, and pottery. (Minoan potters made very thin pottery called Kamares ware). They also 
    exported jewelry and weapons. Merchants imported lead, copper, obsidian, and ivory.
  Each Minoan palace was surrounded by a large, unfortified town. The fact that the towns were unfortified showed that life
   in ancient Crete was peaceful. Perhaps the fact that the Minoans had a large and powerful fleet made them secure.
  About 1,600 BC civilization spread to the Greek mainland. This early Greek civilization is called the Mycenaeans after the
   city of Mycenae, which was found by the great German archaeologist Schliemann. The Mycenaeans lived in city-states. Their
    palaces were fortified showing life was less peaceful than on Crete.
  The Mycenaeans were also great traders and their craftsmen worked in gold and silver. However, after 1200 BC Mycenaean civilization 
  went into decline and by 1100 BC Greece had entered a dark age.
  <br><br>
  At that time a people called the Dorians conquered the Mycenaean cities. However, the Dorians also introduced iron into Greece.
   By about 800 BC a new civilization arose in Greece based on city-states such as Athens and Sparta.
  In 490 BC Darius, the Persian king led an army into Greece. However, the Persians were crushed at the battle of Marathon. In 480 
  the next Persian king Xerxes invaded Greece again but he was completely defeated at the naval battle of Salamis. The next year the Greeks triumphed at the Battle of Platea.
  In 477 BC Athens formed an alliance of Greek city-states called the Delian League. However, Athens came into conflict with Sparta
   and they fought a long war from 431 to 404 BC. It was called the Peloponnesian war and it ended with a Spartan victory. However,
    Sparta later fell out with the city of Thebes. The Thebans won a great victory at Leuctra in 371 AD. For a short time, Thebes
     became the leading Greek city. Sparta and Athens joined forces against Thebes in 362. The great Theban general Epaminondas was killed and Theban power waned.
  Meanwhile, in the north, the power of Macedon was growing. In 338 BC Philip of Macedon defeated an alliance of Greeks in battle.
   He was assassinated in 336 BC but his son Alexander took firm control of Greece.
   <br><br>
  In the 5th and 4th century BC Greece excelled in architecture, sculpture, and literature. They also produced some of the world's 
  greatest philosophers and mathematicians. They also gave us the Olympic Games.
  Alexander the Great led an army into what is now Turkey in 334 BC. He crushed the Persians at the battle of Issus in 333 BC and
   he conquered a vast empire that stretched from Egypt to India. However, Alexander died in 323 BC and his empire broke up. Yet 
   Greek culture was spread through the Middle East.
   <br><br>
  After the death of Alexander the Greek cities became independent again. However, it did not last long. Rome was a rising power.
   In 168 BC the Romans defeated Macedon. In 86 BC they captured Athens. Greece became a province of the Roman Empire known as Achaea.
  However, under Roman rule, Greece prospered. During this era, Greece was converted to Christianity. St Paul traveled to Greece 
  in the 1st century AD and afterward, Christianity gradually spread through the region. In 395 AD the Roman Empire split into east
   and west. The Eastern Roman Empire became the Byzantine Empire with its capital at Constantinople.
  <br><br></h6>
</ion-content>
