<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Persians</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Persians</h1>

<img src="assets/images/persiahistory.jpg" alt="persia_history">

<h6>The Persian Empire, also known as the Achaemenid Empire, lasted from approximately 559 B.C.E. to 331 B.C.E. At its height, 
  it encompassed the areas of modern-day Iran, Egypt, Turkey, and parts of Afghanistan and Pakistan.
  The Persian Empire emerged under the leadership of Cyrus II, who conquered the neighboring Median Empire ruled by his grandfather.
   From then on Cyrus was called the “shah,” or king, of Persia. Eventually he was known as Cyrus the Great.
   <br><br> Cyrus was unlike other
    emperors because he showed mercy toward the cities and kingdoms he conquered. He was known to spare the life of a defeated king 
    so that the king could guide Cyrus in successfully ruling over the captive's subjects. Cyrus also practiced religious and cultural tolerance toward conquered people.
  Cyrus's relative Darius I (known as Darius the Great) took the throne after him and built the empire to its greatest height. Darius
   recognized that such a large area needed to be properly structured and organized in order to function efficiently. He set up a system 
   of provinces and governors, and a postal service that spanned the empire in order to establish widespread communication. Darius also 
   used the tribute money paid to him from each province to fund public works, such as roads and canals.
   <br><br>
  The Persian Empire began to decline under the reign of Darius's son, Xerxes. Xerxes depleted the royal treasury with an unsuccessful 
  campaign to invade Greece and continued with irresponsible spending upon returning home. Persia was eventually conquered by Alexander the Great in 334 B.C.E.
<br><br></h6>
</ion-content>
