<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>egyptiansgallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Egyptian Gallery</h1>
  <img src="assets/images/egypt_arch1.jpg" alt="egypt_arch1">
  <br>
  <img src="assets/images/egypt_arch2.jpg" alt="egypt_arch2">
  <br>
  <img src="assets/images/egypt_arch3.jpg" alt="egypt_arch3">
  <br>
  <img src="assets/images/egypt_arch4.jpg" alt="egypt_arch4">
  <br>
  <img src="assets/images/egypt_arch5.jpg" alt="egypt_arch5">
</ion-content>
