<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ancient History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Seafarers</ion-card-subtitle>
      <ion-card-title>Phoenicians</ion-card-title>
    </ion-card-header>
    <img src="assets/images/phoenicians.jpg" alt="phoenicians">
    <ion-card-content>
      A people famed for their commercial and maritime prowess, the Phoenicians
      connected the Mediterranean through their widespread establishment of harbours, trading posts
       and settlements.
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/phoenicians">READ MORE</ion-button>



  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Philosophers</ion-card-subtitle>
    <ion-card-title>Greeks</ion-card-title>
  </ion-card-header>
  <img src="assets/images/greeks.jpg" alt="greeks">
  <ion-card-content>
    The cradle of Western civilisation, ancient Greece was home to reknowned 
    philosophers, scientists and leaders whose names are still acknowledged and respected to 
    this day.
  </ion-card-content>
</ion-card>

<ion-button routerLink="/greeks">READ MORE</ion-button>


<ion-card>
<ion-card-header>
  <ion-card-subtitle>Conquerors</ion-card-subtitle>
  <ion-card-title>Romans</ion-card-title>
</ion-card-header>
<img src="assets/images/romans.jpg" alt="romans" >
<ion-card-content>
  Responsible for creating possibly the most influential and well-known empire in
  history, the Romans emerged from obscurity in their homeland on the Italian
  peninsula to give birth to legendary architects, statesmen and conquerors.
</ion-card-content>
</ion-card>

<ion-button routerLink="/romans">READ MORE</ion-button>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Builders</ion-card-subtitle>
    <ion-card-title>Egyptians</ion-card-title>
  </ion-card-header>
  <img src="assets/images/egyptians.jpg" alt="egyptians">
  <ion-card-content>
    Founded on the banks of the Nile River in the north of the African continent, 
    the Egyptian civilization reached new heights in the development of science, art, religion and commerce.
     It is also noted for the majesty of its monuments decorated in mysterious hieroglyphics.
  </ion-card-content>
  </ion-card>

  <ion-button routerLink="/egyptians">READ MORE</ion-button>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Innovators</ion-card-subtitle>
      <ion-card-title>Sumerians</ion-card-title>
    </ion-card-header>
    <img src="assets/images/sumerians.jpg" alt="sumerians">
    <ion-card-content>
      One of the oldest civilisations in history, the Sumerians were the people of southern 
      Mesopotamia whose civilization flourished between circa 4100-1750 BCE, and 
      are responsible for many of the most important innovations, inventions, and concepts taken for granted in the present day. 
    </ion-card-content>
    </ion-card>

    <ion-button routerLink="/sumerians">READ MORE</ion-button>


    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Administrators</ion-card-subtitle>
        <ion-card-title>Persia</ion-card-title>
      </ion-card-header>
      <img src="assets/images/persians.jpg" alt="persians">
      <ion-card-content>
        The Persians are known for having ruled over the Achaemenid Empire, which for a time was the largest
        empire of the ancient world, and for implementing a successful bureaucratic
        administration that respected the beliefs of its many peoples.
      </ion-card-content>
      </ion-card>

      <ion-button routerLink="/persians">READ MORE</ion-button>

    </ion-content>
