<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>sumeriansgallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Sumerian Gallery</h1>
  <img src="assets/images/sumer_arch1.jpg" alt="sumer_arch1">
  <br>
  <img src="assets/images/sumer_arch2.jpg" alt="sumer_arch2">
  <br>
  <img src="assets/images/sumer_arch3.jpg" alt="sumer_arch3">
  <br>
  <img src="assets/images/sumer_arch4.jpg" alt="sumer_arch4">
  <br>
  <img src="assets/images/sumer_arch5.jpg" alt="sumer_arch5">
</ion-content>
