<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>romansgallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Roman Gallery</h1>
  <img src="assets/images/rome_arch1.jpg" alt="rome_arch1">
  <br>
  <img src="assets/images/rome_arch2.jpg" alt="rome_arch2">
  <br>
  <img src="assets/images/rome_arch3.jpg" alt="rome_arch3">
  <br>
  <img src="assets/images/rome_arch4.jpg" alt="rome_arch4">
  <br>
  <img src="assets/images/rome_arch5.jpg" alt="rome_arch5">
</ion-content>
