<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Romans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Romans</h1>

<img src="assets/images/romehistory.jpg" alt="rome_history">

<h6>Legend has it that Rome was founded in 753 B.C.E. by Romulus, its first king. In 509 B.C.E. Rome became a republic ruled by the Senate 
  (wealthy landowners and elders) and the Roman people. During the 450 years of the republic Rome conquered the rest of Italy and 
  then expanded into France, Spain, Turkey, North Africa and Greece.
  Rome became very Greek influenced or “Hellenized,” and the city was filled with Greek architecture, literature, statues, 
  wall-paintings, mosaics, pottery and glass. But with Greek culture came Greek gold, and generals and senators fought over 
  this new wealth. The Republic collapsed in civil war and the Roman empire began.
  <br><br>
  In 31 B.C.E. Octavian, the adopted son of Julius Caesar, defeated Cleopatra and Mark Antony at Actium. This brought the last 
  civil war of the republic to an end. Although it was hoped by many that the republic could be restored, it soon became clear 
  that a new political system was forming: the emperor became the focus of the empire and its people. Although, in theory, Augustus
   (as Octavian became known) was only the first citizen and ruled by consent of the Senate, he was in fact the empire's supreme authority.
    As emperor he could pass his powers to the heir he decreed and was a king in all but name.
    <br><br>
  The empire, as it could now be called, enjoyed unparalleled prosperity as the network of cities boomed, and goods, people and ideas 
  moved freely by land and sea. Many of the masterpieces associated with Roman art, such as the mosaics and wall paintings of Pompeii,
   gold and silver tableware, and glass, including the Portland Vase, were created in this period. The empire ushered in an economic and 
   social revolution that changed the face of the Roman world: service to the empire and the emperor, not just birth and social status, became the key to advancement.
  Successive emperors, such as Tiberius and Claudius, expanded Rome's territory. By the time of the emperor Trajan, in the late first 
  century C.E., the Roman empire, with about fifty million inhabitants, encompassed the whole of the Mediterranean, Britain, much of 
  northern and central Europe and the Near East.
<br><br></h6>
</ion-content>
