<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sumerians</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Sumerians</h1>

<img src="assets/images/sumerhistory.jpg" alt="sumer_history">

<h6>The Sumerians are thought to have formed the first human civilization in world history. 
  They lived in southern Mesopotamia, between the Tigris and Euphrates Rivers in the Middle East.
  Many historians think that cities and towns were first formed in Sumer around 5000 BC. Nomads 
  moved into the fertile land and began to form small villages which slowly grew into large towns. 
  Eventually these cities developed into the civilization of the Sumer. This land is often called the "Cradle of Civilization".
  <br><br>
  As the Sumerian villages grew into large cities, they formed city-states. This is where a city 
  government would rule the city as well as the land around it. These city-states often fought each other. 
  They built walls around their cities for protection. Farmland was outside the walls, but people would retreat to the city when invaders came.
  There were many city-states throughout Sumer. Some of the most powerful city-states included Eridu, 
  Bad-tibura, Shuruppak, Uruk, Sippar, and Ur. Eridu is thought to be the first of the major cities formed and one of the oldest cities in the world.
  Each city-state had its own ruler. They went by various titles such as lugal, en, or ensi. The ruler 
  was like a king or governor. The ruler of the city was often the high priest of their religion as well. 
  This gave him even more power. The most famous king was Gilgamesh of Uruk who was the subject of the 
  Epic of Gilgamesh, one of the world's oldest surviving works of literature.
  <br><br>
  In addition to the king or governor, there was a fairly complex government with officials who helped 
  to organize city building projects and keep the city running. There were also laws that the citizens 
  must follow or face punishment. The invention of government is often credited to the Sumerians.
  Each city-state also had its own god. In the center of each city was a large temple to the city god 
  called a ziggurat. The ziggurat looked like a step pyramid with a flat top. Here the priests would perform rituals and sacrifices.
  One of the great contributions the Sumerians made to civilization was their many inventions. They 
  invented the first form of writing, a number system, the first wheeled vehicles, sun-dried bricks, 
  and irrigation for farming. All of these things were important for the development of human civilization.
  They also had an interest in science including astronomy and the movement of the moon and the stars. They used this information to make a more accurate calendar.
<br><br></h6>
</ion-content>
