<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>persiansgallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Persian Gallery</h1>
  <img src="assets/images/persia_arch1.jpg" alt="persia_arch1">
  <br>
  <img src="assets/images/persia_arch2.jpg" alt="persia_arch2">
  <br>
  <img src="assets/images/persia_arch3.jpg" alt="persia_arch3">
  <br>
  <img src="assets/images/persia_arch4.jpg" alt="persia_arch4">
  <br>
  <img src="assets/images/persia_arch5.jpg" alt="persia_arch5">
</ion-content>
