<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>phoeniciansgallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Phoenician Gallery</h1>
  <img src="assets/images/phoenicia_arch1.jpg" alt="phoenicia_arch1">
  <br>
  <img src="assets/images/phoenicia_arch2.jpg" alt="phoenicia_arch2">
  <br>
  <img src="assets/images/phoenicia_arch3.jpg" alt="phoenicia_arch3">
  <br>
  <img src="assets/images/phoenicia_arch4.jpg" alt="phoenicia_arch4">
  <br>
  <img src="assets/images/phoenicia_arch5.jpg" alt="phoenicia_arch5">
</ion-content>
