<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>greeksgallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Greek Gallery</h1>
  <img src="assets/images/greek_arch1.jpg" alt="greek_arch1">
  <br>
  <img src="assets/images/greek_arch2.jpg" alt="greek_arch2">
  <br>
  <img src="assets/images/greek_arch3.jpg" alt="greek_arch3">
  <br>
  <img src="assets/images/greek_arch4.jpg" alt="greek_arch4">
  <br>
  <img src="assets/images/greek_arch5.jpg" alt="greek_arch5">
</ion-content>
