<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Egyptians</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Egyptians</h1>

<img src="assets/images/egypthistory.jpg" alt="egypt_history">

<h6>By 5,000 BC the people of Egypt had begun farming. They also wove linen and made pottery. Later 
  they learned to use bronze. About 3,200 BC the Egyptians invented writing. The first Egyptian in 
  history was King Menes aka Narmer who lived shortly before 3,100 BC. At that time Egypt was divided 
  into northern (lower) Egypt and southern (upper Egypt). About 3118 Menes managed to unite the two. He made Memphis his capital.
  Ancient Egypt was a highly organized society. The country was divided into 42 areas called nomes. 
  Each one was governed by nomarch. Farmers paid part of their crops in taxes.
  The first period of Egyptian history, which ended in 2181 BC is called the Old Kingdom. During it 
  the pharaohs built pyramids. The first pyramid, the step pyramid was built by Zoser about 2665 BC. Others were built by the following pharaohs Sneferu and Khufu.
  <br><br>
  However central authority in Egypt eventually weakened. After about 1281 BC Egypt split into parts and there were civil wars between the rival areas. 
  This period of civil disorder is called the First Intermediate Period and it lasted until 2055 BC. Finally, Mentuhotep II succeeded in reuniting 
  Egypt and he founded the Middle Kingdom.
The Middle Kingdom lasted until 1650 BC. It was a great period of art and literature in Egypt. Furthermore, the pharaohs carried out successful 
military campaigns and more pyramids were built. However, the Middle Kingdom was followed by the Second Intermediate Period.
About 1650 BC Palestinian people called the Hyksos seized power in northern Egypt. They ruled from the city of Avaris. However native Egyptians 
continued to rule southern Egypt and in 1550 BC they drove out the Hyksos and reunited Egypt. So began the New Kingdom. It lasted from 1550 to 1070 BC.
During this era, Egypt was rich and powerful once again. Egypt controlled Nubia, the land to the south and invaded Palestine and Syria. Meanwhile, 
great new temples were built at Thebes and pharaohs were buried in the Valley of the Kings. Then about 1364 BC, Akhenaten became pharaoh. He 
worshiped only the sun god Aten.
<br><br>
However, his son Tutankhamen worshiped the old gods.
The New Kingdom collapsed in 1070 and gave way to another period of disunity. From this point, Egypt declined and never recovered its former glory.
During the Third intermediate period Egypt split into two halves, north and south. However, in 747 BC kings from Nubia (the country south of Egypt) 
conquered Egypt and restored unity. Yet in 525 BC the Persians conquered Egypt. Then in 332, Alexander the Great conquered it.
After Alexander's death his empire split into parts. A Greek general called Ptolemy eventually took Egypt and for about 300 years his Greek 
descendants ruled Egypt. However, in 30 BC Egypt became a province of the Roman Empire and ceased to be an independent kingdom.
Meanwhile woman called Sobekneferu ruled Egypt around 1800 BC. Later a woman named Hatshepsut ruled Egypt c. 1479-1458 BC. Another woman, Twosret ruled Egypt c. 1191-1189 BC.
However, the real end of Ancient Egypt came with Christianity. It reached Alexandria by 70 AD and spread south by 180 AD. Christianity meant 
the end of the old religion and so the end of Ancient Egyptian culture.
<br><br>
</h6>
  

</ion-content>
